{% extends 'base.html' %}


{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
Hey {{name}}!! {{message}}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}


  <h2>DASHBOARD</h2>
  <br><br>
  <div class="card">
  <div class="card-header">
    {{ current_user.user_name }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ current_user.name }}</h5>
    <h6 class="card-title">{{ current_user.date_added }}</h6>
    <p class="card-text">{{ current_user.about_author }}</p>
    <p class="card-text">{{ current_user.email }}</p>
    <p class="card-text">profile pic:  {{ current_user.profile_pic }}</p>
    <div class="container">
      <div class="row">
        <div class="col-8">

    <a href="{{ url_for('logout') }}" class="btn btn-primary btn-sm" >Logout</a>

    <a href="{{ url_for('update' , id = current_user.id) }}" class="btn btn-primary btn-sm" >Update Profile</a>

    <a href="{{ url_for('delete'  ,id = current_user.id)}}" class="btn btn-danger btn-sm" >Delete</a>


      </div>
      <div class="col-4">
        <img src="{{ url_for('static', filename ='images/placeholder.jpg')}}" width="150" alt="" align = "right">
      </div>


</div>

</div>
  </div>
</div>
<br>
<form  action="/dashboard" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <br>
  {{ form.profile_pic.label(class = "form-label") }}
  {{ form.profile_pic(class="form-control" , value = user_to_update.profile_pic) }}
  <br>
  {{ form.name.label(class = "form-label") }}
  {{ form.name(class="form-control" , value = user_to_update.name) }}
  <br>
  {{ form.user_name.label(class = "form-label") }}
  {{ form.user_name(class="form-control" , value = user_to_update.user_name) }}
  <br>
  {{ form.email.label(class = "form-label") }}
  {{ form.email(class="form-control" , value = user_to_update.email) }}
  <br>
  {{ form.favorate_colour.label(class = "form-label") }}
  {{ form.favorate_colour(class="form-control" , value = user_to_update.favorate_colour) }}
  <br>




  <textarea name="about_author" class="form-contro" rows="5" >
        {{ user_to_update.about_author }}
  </textarea>
  <br>

  {{ form.submit(class="btn btn-primary") }}




</form>









{% endblock %}
