{% extends 'base.html' %}


{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
Hey {{name}}!! {{message}}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% if id == current_user.id %}

  <h1>UPdate User </h1>
  <br>
  id to update = {{ id }} <br>
  current user id = {{ current_user.id }}
  <br>
  <form  action="/update/{{ user_to_update.id }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.name.label(class = "form-label") }}
    {{ form.name(class="form-control" , value = user_to_update.name) }}
    <br>
    {{ form.user_name.label(class = "form-label") }}
    {{ form.user_name(class="form-control" , value = user_to_update.user_name) }}
    <br>
    {{ form.email.label(class = "form-label") }}
    {{ form.email(class="form-control" , value = user_to_update.email) }}
    <br>
    {{ form.favorate_colour.label(class = "form-label") }}
    {{ form.favorate_colour(class="form-control" , value = user_to_update.favorate_colour) }}
    <br>

    {{ form.submit(class="btn btn-primary") }}


    <a href="{{ url_for('delete' ,id =user_to_update.id )}}" class = "btn btn-danger">Delete</a>

  </form>
  <br><br><br>

  {% for our_user in our_users %}
  {{ our_user.id }}.{{ our_user.name }} - {{ our_user.email }} - {{ our_user.favorate_colour}}<br>

  {% endfor%}

{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
Hey {{name}}!! soory you cant edir this User
<h2>Access Denied </h2>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}



{% endblock %}
